.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	margin: 10px 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 0.3s;
	&:after {
		content: '';
		position: absolute;
		z-index: -1;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 0.3s;
	}
	&:before {
		@extend %extend_1;
	}
}

.btn-1 {
	border: 3px solid $accent;
	color: $accent;
}

.btn-1e {
	overflow: hidden;
	z-index: 1;
	&:after {
		width: 100%;
		height: 0;
		top: 50%;
		left: 50%;
		background: $accent;
		opacity: 0;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
	}
	&:hover {
		color: $white;
		&:after {
			height: 225%;
			opacity: 1;
		}
	}
	&:active {
		color: $white;
		&:after {
			height: 400%;
			opacity: 1;
		}
	}
}

.btn-1c {
	z-index: 1;
	&:after {
		width: 0;
		height: 100%;
		top: 0;
		left: 0;
		background: $accent;
	}
	&:hover {
		color: $white;
		&:after {
			width: 100%;
		}
	}
	&:active {
		color: $white;
		&:after {
			width: 100%;
		}
	}
}