//fonts
$font_0: Lato;
$font_1: sans-serif;

//Font Sizes
$font_title: 28px;
$font_24: 24px;
$font_22: 22px;
$font_20: 20px;
$font_18: 18px;
$font_16: 16px;
$font_14: 14px;
$font_12: 12px;

$base_font_size: 14px;

//Font Weight
$font_bold: bold;
$font_w_500: 500;
$font_w_600: 600;

//Some base sizes for utilities
$base-unit:     15px; // "medium/default" setting
$base-unit-5:  $base-unit - 10;	//5
$base-unit-10:   $base-unit - 5;		//10
$base-unit-15:   $base-unit;			//15
$base-unit-20:   $base-unit + 5;		//20
$base-unit-25:  $base-unit + 10;	//25
$base-unit-30: $base-unit + 15; //30
$base-unit-35: $base-unit + 20;	//35

// State colors
$success-color: #3e9817;
$error-color: #b3282d;
$warning-color: #f0ad4e;

//Main Colors
$main: #75FFB6;
$complimentary_dark: #B23B2E;
$complimentary_light: #FF8375;
$accent: #40B276;
$secondary: #8FFFC4;

//Whites
$white: #fff;
$white_20: rgba(255,255,255,0.2);
$white_80: rgba(255, 255, 255, .8);

//Blacks
$black: #000;
$black_10: rgba(0,0,0,0.1);

//Grays
$concrete: #f2f2f2;
$mercury: #e5e5e5;
$gray-darker: #4d4d4d;
$gray-dark: #a9a9a9;
$gray: #c2c2c2;
$gray-light: #e6e6e6;
$gray-lighter: #f2f2f2;
$gray-status: #777;

//Buttons
$btn_prime: #C08A0E;
$btn_back: #C0230E;
$btn_font_color: $concrete;

//Links
$link_prime: $complimentary_dark;
$link_visited: $secondary;
$link_hover: $complimentary_light;

//Background
$background_color: $white;

//Stray Colors
$color_astral_approx: #3085a3;