//Bootstrap and Framework Variables
@import "public/scss/framework/sky-variables.scss";
@import "public/scss/framework/sky-mixins.scss";
@import "public/scss/framework/sky-utils.scss";

//Theme Variables
$theme: "default";
$sprite-brand-path: "/assets/images/sprite-brand.png";
$img-path: "/assets/images";